<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Semesta Mitra Sejahtera"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Semesta_mitra_sejahtera"
        tools:targetApi="31">
        <activity
            android:name=".ui.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.LihatArtikelActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.DetailJadwalPanenActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.UbahPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.KebijakanActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.FaqActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.CabangActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.EditPerkembanganActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.TambahPerkembanganActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.DetailPerkembanganActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.DetailArtikelActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.DashboardFragment"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.AkunFragment"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.JadwalPanenFragment"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.PerkembanganFragment"
            android:exported="false"
            android:screenOrientation="portrait"/>
    </application>

</manifest>